const tokens = {
  consumerKey: 'yqrIw15KU8MzADt8jStYx4XeK',
  consumerSecret: 'uV48ABHOWJzXixR83FNFPAqfUJZ5JFN29y4OTK40hM3FbMGGrM',
  accessToken: '59537199-H9rOke8ByzoCZuLDOTDfCZlqKbzPSP7jyDAItozFn',
  accessTokenSecret: 's51B7jkqrfPOWntJxZHlDsCsb9mHRRRFT5WLkYIAQzAoD',
};

export default tokens;